<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body ng-app="app">

    <div ng-controller="filterCtrl">

        <p>{{message | uppercase}}</p>
        <p>{{message | lowercase }}</p>

        <p>{{price|currency:"INR"}}</p>

        <!-- Product sort ascending -->
        <ul>
            <li ng-repeat="item in items | orderBy:'pPrice' ">{{item.pName}} </li>
        </ul>

        <!--  -->

        <!-- Product Sort descending -->
        <ul>
            <li ng-repeat="item in items | orderBy:'pPrice' : true ">{{item.pName}} </li>
        </ul>


        <!-- Filter Products -->
        <ul>
            <li ng-repeat="item in items | filter : { pName:'i'} | orderBy:'pPrice' : true"> 
                <p>{{item.pName}} </p>
                <p>{{item.pPrice}}</p>
            </li>
        </ul>

    </div>




    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>

    <script>
        var app = angular.module("app", []);

        app.controller("filterCtrl", ["$scope", function ($scope) {

            $scope.arr = [10, 20, 40, 30];

            $scope.items = [
                { pId: '1', pPrice: "200", pName: "Shoes" },
                { pId: '2', pPrice: "100", pName: "Shirt" },
                { pId: '3', pPrice: "500", pName: "Pant" },
                { pId: '4', pPrice: "300", pName: "Mobile" }
            ];

            // $scope.arr.sort(function(a,b){
            //     return a-b;
            // });



            $scope.message = "Hii";

            $scope.price = 40;


        }])



    </script>
</body>

</html>